*{
    margin: 0px;
    padding:0px;
}
body{
    background: linear-gradient(#faf3e4,rgb(251, 217, 170)) ;
    
}

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 1em;
    padding: 0em;
    align-items: center;
    display: flex;
    font-size: 1.8rem;
    flex-wrap: wrap;
    gap: clamp(0.5rem, 3vw, 3rem);
    font-size: clamp(1.2rem, 2.2vw, 2rem);
   
    
}
nav li{
    display: flex;
}
nav ul {
    display: flex;
    gap: clamp(0.75rem, 6vw, 12rem);
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    margin-left: auto;
    list-style: none;
    flex-wrap: wrap;
}
nav li a{
    color: black;
    text-decoration: none;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    transition: transform 0.3s ease-out;
    
}
nav li a:hover{
    transform: scale(1.2);
    color: cadetblue;

}
nav img.logo, .logo{
    height: clamp(40px, 6vw, 64px);
    width: auto;
    display: block;
}
.bigcont{
    margin: 40px;
    margin-left: 5em;
}
.bigcont img{
    text-align: center;
    margin: 1em;
    width: clamp(110px, 20vw, 20%);
    gap: 20px;
    box-shadow: 4px 3px 16px 2px #2c2b2b;
    transition: transform 0.4s ease-out;
    border-radius: 10%;
}
.bigcont img:hover {
    transform: scale(1.5);
}
.cont{
    
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.cont .imgbox{
    background-color: transparent;
    border: 1px solid black;
    height: clamp(160px, 18vw, 13rem);
    width: clamp(180px, 30vw, 30rem);
    margin: 1em;
    box-sizing: border-box;
    padding: 0.3rem 0.55rem;
    overflow: hidden;
    box-shadow: 4px 3px 16px 2px #2c2b2b;
    border-radius: 10%;
}
#rowtitle{
    margin-left: 1.5em;
    font-family: "Pacifico", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: clamp(1.4rem, 4.5vw, 3rem);
    margin: 20px;
    
}
.cont .imgbox img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border: 0.5px solid black;
    display: block;
    transition: transform 0.4s ease-out;
    border-radius: 10%;
}
.cont .imgbox:hover img {
    transform: scale(1.2);
}
h1{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(2rem, 6.2vw, 4rem);
    text-align: center;
    text-decoration: double;
    box-shadow: 4px 4px 8px 8px #716f6f;
}
#category{
    border-top: 1px solid black;
}
.star{
    margin: 40px;
    margin-left: 5em;
    

}
.star img{
    text-align: center;
    margin: 1em;
    width: clamp(90px, 18vw, 20%);
    gap: 20px;
    box-shadow: 4px 3px 16px 2px #2c2b2b;
    transition: transform 0.4s ease-out;
    border-radius: 4%;
}
.star img:hover{
    transform: scale(1.2);
}
.foot{
    background-color: rgb(211, 124, 16);
    padding: 1rem;
    padding-bottom: 0.5rem;
}
.foot h3{
    font-family: "Pacifico", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    background-color: rgb(82, 52, 2);
    border: 1px dotted white;
}
.contact{
    margin: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 2rem;

}
.contact h2{
    font-size: clamp(1.2rem, 3.2vw, 2.5rem);
    color: rgb(250, 237, 237);
    text-transform: uppercase;
}
.contact a img{
    transition: transform 0.3s ease-out;
}
.contact a img:hover{
    transform: scale(1.3);
}