*{
    margin: 0px;
    padding:0px;
}
body{
    background: white
    
}

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 1em;
    padding: 0em;
    align-items: center;
    display: flex;
    font-size: 1.8rem;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1rem;
   
    
}
nav li{
    display: flex;
}
nav ul {
    display: flex;
    gap: 2.5rem;
    font-family: "Caprasimo", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin-left: auto;
    list-style: none;
    flex-wrap: wrap;
}
nav li a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    transition: transform 0.3s ease-out;
    
}
nav li a:hover{
    transform: scale(1.4);
    color: rgb(41, 121, 121);
    

}
nav img{
    height: 4rem;
}
nav img.logo, .logo{
    height: 1rem;
    width: auto;
    display: block;
}
.bigcont{
    margin: 40px;
    margin-left: 5em;
}
.bigcont img{
    text-align: center;
    margin: 1em;
    width: clamp(110px, 20vw, 20%);
    gap: 20px;
    box-shadow: 4px 3px 16px 2px #2c2b2b;
    transition: transform 0.4s ease-out;
    border-radius: 10%;
}
.bigcont img:hover {
    transform: scale(1.4);
}
.cont{
    
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.cont .imgbox{
    background-color: transparent;
    
    height: clamp(160px, 18vw, 13rem);
    width: clamp(180px, 30vw, 30rem);
    margin: 1em;
    box-sizing: border-box;
    padding: 0.3rem 0.55rem;
    overflow: hidden;
    box-shadow: 4px 3px 16px 2px #2c2b2b;
    
}
#rowtitle{
    margin-left: 1.3em;
    font-family: "Pacifico", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 1.8rem;
    margin: 20px;
    
}
.cont .imgbox img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border: 0.5px solid black;
    display: block;
    transition: transform 0.4s ease-out;
}
.cont .imgbox:hover img {
    transform: scale(1.1);
}
h1{
    font-family: "Rubik Gemstones", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    text-decoration: double;
    box-shadow: 4px 4px 8px 8px #716f6f;
}
#category{
    border-top: 1px solid black;
}
.star{
    margin: 40px;
    margin-left: 5em;
    

}
.star img{
    text-align: center;
    margin: 1em;
    width: clamp(90px, 18vw, 20%);
    gap: 20px;
    box-shadow: 4px 3px 16px 2px #2c2b2b;
    transition: transform 0.4s ease-out;
    border-radius: 4%;
}
.star img:hover{
    transform: scale(1.1);
}
.foot{
    background-color: rgb(12, 12, 12);
    padding: 0.5rem;
    padding-bottom: 0.5rem;
}
.foot h3{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: rgb(34, 34, 32);
}
.contact{
    margin: 0.75rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 2rem;

}
.contact h2{
    font-size: 1.5rem;
    color: rgb(250, 237, 237);
    text-transform: uppercase;
}
.contact a img{
    transition: transform 0.3s ease-out;
    height: 40px;
    width: 40px;
}
.contact a img:hover{
    transform: scale(1.3);
}

@media (max-width:1000px){
    
}